.div1{  
    background-color: powderblue;
  color: rgb(68, 0, 255);
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 900;
  background-image: url(pic.jpg);
  background-position: center;
  padding: 19px;
  margin-right: 650px;
}
.img1{
  inline-size: 7.5rem;
  flex: auto;
  border: 2px solid red;
  border-radius: 50%;
  margin: 3px 33px 1px 70px;
}
.h1{
 /*padding: 1px 1px 1px 11rem;*/
  text-align: center;
  background-color: aqua;
  color: red;
  inline-size: auto;
  height: 37px ;
  width: 677px;
  text-decoration:rgb(119, 0, 255) underline dashed 5px;
}
.span{
  background-color: seagreen;
  border: 2px solid red;
  margin: 0rem 0rem 0rem 11rem;
  
  box-sizing: border-box;
}
.h2{
    color: navy;
    background-color: yellow; 
    inline-size: 110px;
    text-align: center;
    font-family: monospace;   
    text-decoration: double underline 2.5px navy;
}
.p2{
    font-size: larger;
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline dotted 5px red;
    line-height: 30px;
    letter-spacing: 4px;
    text-transform: capitalize;
    /* text-transform: lowercase; */
    /* text-transform: uppercase; */
}
.p3{
    /* text-indent: 50px; */
    border: 2px solid blue;
    width: 100px;
    height:150px;
    text-overflow: ellipsis;
    text-overflow: clip;
    overflow:hidden;
    overflow: scroll;
    /* word-wrap: break-word; */
    
}