:root{
 /*  For Global Variable Use ":root"  */
    --color:blue;
    --seccolor:powderblue;
    --pp:pink;
}

*{
    padding: 0px;
    margin: 0px;
}.nav{
    background-color: chocolate;
    padding: 5px;
}
#list{
    display: flex;
} 

#list li{
    list-style: none;
    color: rgb(253, 197, 92);
    padding: 10px 30px;
    /* text-align: center; */
}
#list li:hover{
    list-style: none;
    /* color:rgb(92, 197, 253); */
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    background-color: rgb(30, 105, 210);
}
/* div:first-child{
    background-color: aqua;
} */
.container{
    background-color: tomato;
    padding: 5px;
    margin: 0px;
}
.container:hover{
    background-color: rgb(71, 33, 255);
    color: white;
    margin: 9px;
}
.div1{
    /* background-color:darkgoldenrod;
    border: 1px solid brown; */
    border-radius: 20px;
    background-color: var(--color);
    border: 2px solid var(--seccolor);
    color: var(--pp);
    text-align: center;
}